@import './variables.scss';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    height: 100%;
}

body {
    background-color: $color-one;
    color: $color-two;
    font-family: $font-family-primary;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    height: 100%;
}

// helper classes
.holder {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

// spacing
.mod {
    padding-top: 40px;
}

.mod:last-child {
    padding-bottom: 40px;
}

// font, text and titles
.text {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;

    &.text-sm {
        font-size: 12px;
    }
}

.sub-title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 20px 0 10px;
}

// cta
.cta {
    padding: 6px 20px;
    background: $color-seven;
    border: 1px solid $color-eight;
    outline: none;
    border-radius: 5px;
    font-weight: 700;
    color: $color-one;
    cursor: pointer;
}

//forms
.input-element {
    width: 100%;
    padding: 10px 10px;
    background-color: $color-four;
    border: 1px solid $color-five;
    border-radius: 5px;
    outline: none;
    font-size: 14px;

    &_error { color: $color-six; }
}

// global modules
#app {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 1;
}

#site-header,
#site-footer {
    background: $color-three;
    color: $color-one;
}