// colors
$color-one: #ffffff;
$color-two: #181a1b;
$color-three: #007abf;
$color-four: #f5f6f7;
$color-five: #b4bcc1;
$color-six: #BF4400;
$color-seven: #1abc9c;
$color-eight: #16a085;
$color-nine: #d5d7d9;

// font-families
$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

// break points
$breakpointMobile: 768px